

 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #39393b;
  }
  
  .embedded-website {
              width: 45%;
              height: 500px; /* Adjust the height as needed */
              border: none; /* Remove border */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background: #39393b;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
  }
  

  
  .author {
    font-size: 0.8em;
    color: #eae5e5;

  }
  
  .date {
    font-size: 0.8em;
    color: beige;
  }
  
  .post {
    background: #39393b;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  div {
    background: #e13e75;
  }
  
  .post h2 {
    color: #eae5e5;
  }
  
  .location {
    font-style: italic;
    color: #eae5e5;
   
  }
  
  .description {
    color: #eae5e5;
  
  }
  
  .recommendation {
    font-weight: bold;
    color: #eae5e5;
    
  }
  
img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 20px 0;
  }

  .embedded-website1 {
    width: 60%;
    height: 500px; /* Adjust the height as needed */
    border: none; /* Remove border */
}

header h1 {
  margin: 0;
  color:#eae5e5
}

  


